<h1> Hello World </h1>

<form action="/process" method="POST">
  Favorite color: <input type="text" name="favoriteColor">
  <button type="submit">Submit</button>
</form>

<script>
  let token

  // Make a request using the Fetch API
  fetch('http://localhost:5010/csrf-token', {
    method: 'GET'
  })
  .then(res => res.json())
  .then(res => {
    console.log('fetched', res)
    token = res.csrfToken
  })
  .catch(err => {
    console.error('Error fetching token', err)
  })

  const submitForm = () => {
    if (!token) throw new Error('Token not defined')

    // Make a request using the Fetch API
    fetch('http://localhost:5010/process', {
      credentials: 'same-origin', // <-- includes cookies in the request
      headers: {
        'CSRF-Token': token // <-- is the csrf token as a header
      },
      method: 'POST',
      body: JSON.stringify({
        favoriteColor: 'blue'
      })
    })
    .then(res => res.json())
    .then(res => {
      console.log('submitted', res)
    })
    .catch(err => {
      console.error('An error occured', err)
    })
  }

  document.querySelector('form').addEventListener('submit', e => {
    e.preventDefault()

    submitForm()
  })
</script>
